	body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,textarea,ul{
		margin:0;
		padding:0;
		border:0}
	.wrapper {
		width: 800px;
		margin:0 auto;
	}
	html,body {
		font-family: Consolas,Verdana,sans-serif;
		background-color: #000;
		color:#206433;
		font-size: 18px;
	}
	header {margin-top: 10px;}
	header h1 {font-size: 36px; margin:5px;}
	h2 {font-size: 24px; padding-left: 5%;}
	nav {
		width: 100%;
		height: 40px;
		border:1px solid black;
		margin-top: 10px;
	}
	nav span {
		float: left;
		padding-left: 20px;padding-top: 5px;
	}
	.legend {
		font-size: 12px; font-style: italic; font-weight: bolder;
		color: gray; ;
		text-align: left;
		width: 600px;
	}
	nav ul {
		list-style: none;

	}
	nav ul li {
		float: left;
		margin-left: 20px;
	}
	nav ul li button {
		background-color: #206433;
		width: 45px; height: 30px;
		border:2px solid gray;  border-radius: 30px;
		border-top:none; border-bottom:none;
		font-size: 18px; font-weight: bold;
		color: #DFC;
		padding-top: 5px;	
	}
	nav ul li button:hover {
		border:2px solid orange;  border-radius: 30px;
		border-top:none; border-bottom:none;
		background-color: gray;
	}
	.content div {
		display: none;
		border-left:2px solid gray;	border-right:2px solid gray;
		border-radius: 20px;
		padding: 10px;
		margin-bottom: 10px; margin-top: 10px;
	}
	article {
		font-size: 16px;
		color: gray;
	}
	aside {
		color:#CCC; 
		border-bottom: 1px solid gray; border-radius: 100px;
	 	padding-left: 5%; 
	 	padding-bottom: 2px;
	 }
	 #task1 {
	 	display: block;
	 }

	nav ul li:nth-child(n+5)
	{
		display: none;
	}